# Modeling

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load dataframes

In [34]:
uptown = pd.read_csv('../data/uptown.csv').set_index('Unnamed: 0')
uptown.index.name = None
uptown.name = "uptown"

lgd = pd.read_csv('../data/lgd.csv').set_index('Unnamed: 0')
lgd.index.name = None

audubon = pd.read_csv('../data/audubon.csv').set_index('Unnamed: 0')
audubon.index.name = None

metairie = pd.read_csv('../data/metairie.csv').set_index('Unnamed: 0')
metairie.index.name = None

aurora = pd.read_csv('../data/aurora.csv').set_index('Unnamed: 0')
aurora.index.name = None

In [35]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

In [36]:
get_df_name(uptown)

'uptown'

In [37]:
def rolling_mean_subtraction(df, window):
    roll_mean = df.rolling(window=window).mean()
    df_minus_roll_mean = df - roll_mean
    df_minus_roll_mean.dropna(inplace=True)
    
    dftest = adfuller(df_minus_roll_mean)
    p_val = dftest[1]
    
    return (f"p-value: {round(dftest[1], 3)} for window of {window}")

### Rolling mean windows to make dataframes stationary

- Uptown: 2
- LGD: 3
- Audubon: 2
- Metairie: 5
- Aurora: 5

## Add rolling mean dfs to notebook

In [38]:
uptown_minus_roll_mean = uptown - uptown.rolling(window=2).mean()
uptown_minus_roll_mean.dropna(inplace=True)

In [39]:
lgd_minus_roll_mean = lgd - lgd.rolling(window=3).mean()
lgd_minus_roll_mean.dropna(inplace=True)

In [40]:
audubon_minus_roll_mean = audubon - audubon.rolling(window=2).mean()
audubon_minus_roll_mean.dropna(inplace=True)

In [41]:
metairie_minus_roll_mean = metairie - metairie.rolling(window=5).mean()
metairie_minus_roll_mean.dropna(inplace=True)

In [42]:
aurora_minus_roll_mean = aurora - aurora.rolling(window=5).mean()
aurora_minus_roll_mean.dropna(inplace=True)

In [43]:
aurora_minus_roll_mean.head()

             70131
1996-08-01  1800.0
1996-09-01  1620.0
1996-10-01  1420.0
1996-11-01  1200.0
1996-12-01  1000.0